In [3]:
import pandas as pd

# Sample DataFrame (replace this with your actual DataFrame)
data = {
    'Column1': [1, 2, 3],
    'Column2': [4, 5, 6],
    'Column3': [7, 8, 9],
    'Column4': [10, 11, 12],
    'Column5': [13, 14, 15]
}

df = pd.DataFrame(data)
df

   Column1  Column2  Column3  Column4  Column5
0        1        4        7       10       13
1        2        5        8       11       14
2        3        6        9       12       15

In [5]:

# Calculate the sum of rows for columns from 3rd column (index 2) to the second-to-last column
row_sums = df.iloc[:, 2:].sum(axis=1)

# Print the row sums
print(row_sums)

0    30
1    33
2    36
dtype: int64

In [6]:
start_date = '2015-01-01'
end_date = '2015-11-15'

# Create a date range
date_range = pd.date_range(start=start_date, end=end_date)

# Create a DataFrame with the date range
date_df = pd.DataFrame({'Date': date_range})

# Your dataset (replace this with your actual dataset)
data = {
    'Value1': [10, 15, 20, 25, 30],
    'Value2': [5, 10, 15, 20, 25],
}

df = pd.DataFrame(data)

# Merge the date DataFrame with your dataset based on a common index or key
# For example, if your dataset has 5 rows, you can assign the date range to it like this:
df_check['Date/Time'] = date_df['Date'][:len(df_check)]

# Print the resulting DataFrame
print(df)

   Value1  Value2       Date
0      10       5 2015-01-01
1      15      10 2015-01-02
2      20      15 2015-01-03
3      25      20 2015-01-04
4      30      25 2015-01-05

In [7]:
df.dtypes

Value1             int64
Value2             int64
Date      datetime64[ns]
dtype: object

In [ ]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3, 4],
                    'Column1_df1': ['A', 'B', 'C', 'D']})

df2 = pd.DataFrame({'ID': [1, 3],
                    'Column2_df2': ['X', 'Y']})

# Merge the two DataFrames using an outer join to include all rows
merged_df = pd.merge(df1, df2, on='ID', how='outer')

# Fill missing values (NaN) with a default value, if needed
merged_df['Column2_df2'].fillna('Default', inplace=True)

# Print the resulting DataFrame
print(merged_df)

In [8]:
import pandas as pd

# Create two sample DataFrames with the same index
df1 = pd.DataFrame({'A': [1, 2, 3]}, index=[10, 20, 30])
df2 = pd.DataFrame({'B': [4, 5, 6]}, index=[10, 20, 30])

In [9]:
df1

    A
10  1
20  2
30  3

In [10]:
df2

    B
10  4
20  5
30  6

In [11]:
# Merge the two DataFrames on their index
result = pd.merge(df1, df2, left_index=True, right_index=True)

# Print the resulting DataFrame
print(result)

    A  B
10  1  4
20  2  5
30  3  6

In [ ]:
for col in numeric_features:
    fig = plt.figure(figsize=(9, 6))
    ax = fig.gca() # To get current axes
    feature = bike_data[col]
    label = bike_data['rentals']
    correlation = feature.corr(label)
    plt.scatter(x=feature, y=label)
    plt.xlabel(col)
    plt.ylabel('Bike Rentals')
    ax.set_title('rentals vs ' + col + '- correlation: ' + str(correlation))
plt.show()